<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <span class="d-inline btn" type="submit">Kosárba</span>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>