.bd-callout .bd-callout-warning {
    border: 1px solid lightgray;
    border-left: 4px solid tomato;
    border-radius: 0.3em;
}

.mezo {
    display: block;
    width: 100%;
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 1em;
    padding: 7px;
    text-indent: 4px;
}

.mezo:focus {
    outline-color: dodgerblue;
}

.contact {
    margin-top: 8em;
    border: 0px solid transparent;
    border-radius: 0.4em;
}

.contact-right {
    color: #f0f0f0;
    background-color: dodgerblue;
    font-size: 18px;
}

.contact-icon {
    margin-right: 10px;
    padding: 0.6em;
    border: 1px solid #f0f0f0;
    border-radius: 100%;
    font-size: 20px;
}

#spaceyBasement {
    height: 55%;
    border: 1px solid #f0f0f0;
    border-radius: 0.2em;
}

textarea {
    resize: none;
}