.bd-callout .bd-callout-warning {
    border: 1px solid lightgray;
    border-left: 4px solid tomato;
    border-radius: 0.3em;
}

.mezo {
    display: block;
    width: 100%;
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 1em;
    padding: 7px;
    text-indent: 4px;
}

.mezo:focus {
    outline-color: dodgerblue;
}

textarea {
    resize: none;
}