<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<div class="d-flex flex-column align-items-center align-middle">
    <h1 class="pt-3">404</h1>
    <p>A megadott oldal nem található!</p>
    <img class="img-fluid center" src="/img/404.jpg" alt="404">
</div>
<%- include('includes/end.ejs') %>