.bd-callout .bd-callout-warning {
    border: 1px solid lightgray;
    border-left: 4px solid tomato;
    border-radius: 0.3em;
}

.mezo {
    display: block;
    width: 100%;
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 1em;
    padding: 6px;
    text-indent: 4px;
}

.mezo:focus {
    outline-color: dodgerblue;
}

.contact {
    margin: 4em 0;
    border: 0px solid transparent;
    border-radius: 0.4em;
}

.contact-right {
    color: #f0f0f0;
    background-color: dodgerblue;
    font-size: 18px;
}

.contact-icon {
    margin-right: 10px;
    padding: 0.6em;
    border: 1px solid #f0f0f0;
    border-radius: 100%;
    font-size: 20px;
}

#spaceyBasement {
    height: 250px;
    border: 1px solid #f0f0f0;
    border-radius: 0.1em;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.iframe-container > * {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

textarea {
    resize: none;
}

@media screen and (max-width: 1024px) {
    .contact {
        margin: 3em 0;
    }

    .iframe-container {
        padding-bottom: 1%;
    }

    .contact-right {
        font-size: 17px;
    }

    .contact-icon {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        margin: 2em 0;
    }

    .contact-right {
        font-size: 15px;
    }

    .contact-icon {
        font-size: 18px;
    }
}