.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
  
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 18rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
  
.card__header,
.card__content {
    padding: 1rem;
}
  
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}
  
.card__image {
    width: 100%;
}
  
.card__image img {
    width: 100%;
}
  
.card__actions {
    padding: 1rem;
    text-align: center;
}
  
.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}